<div class="container my-5 d-flex flex-column text-center">
  <h1>Universidad Tecnológica Nacional</h1>
  <h1>Facultad Regional Córdoba</h1>
  <h1>Ingeniería en Sistemas de Información</h1>
  <br />

  <br />
  <h2>Cátedra de Simulación</h2>
  <br />

  <br />
  <h3><u>Tema:</u></h3>
  <h2>Exámen Final</h2>
  <br />

  <br />
  <h3><u>Alumno:</u></h3>
  <h2>Merlini Bravo, Francisco (81211)</h2>
  <br />

  <br />
  <h3><u>Fecha de presentación:</u></h3>
  <h2>27/07/2022</h2>
  <br />

  <br />
  <div>
    <img
      src="../../../assets/utn-removebg-preview.png"
      alt="utn-logo"
      width="400px"
    />
  </div>
</div>
