<div class="container my-5">
  <mat-card class="mt-5">
    <div class="row">
      <div class="col-12 mb-2">
        <mat-card-title>Parámetros</mat-card-title>
      </div>

      <form [formGroup]="form" #formRef="ngForm">
        <div class="row d-flex">
          <div class="col-12">
            <mat-divider></mat-divider>
            <p class="mt-2"><u>Generales</u></p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <p><b>X</b> (tiempo a simular en segundos):</p>
            <mat-form-field appearance="outline">
              <input matInput formControlName="txtX" autocomplete="off" />
            </mat-form-field>
            <app-control-messages
              [control]="txtX"
              [submitted]="submitted"
            ></app-control-messages>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <p><b>N</b> (cantidad de iteraciones a simular):</p>
            <mat-form-field appearance="outline">
              <input matInput formControlName="txtN" autocomplete="off" />
            </mat-form-field>
            <app-control-messages
              [control]="txtN"
              [submitted]="submitted"
            ></app-control-messages>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <p>Mostrar iteraciones <b>desde</b> el segundo:</p>
            <mat-form-field appearance="outline">
              <input matInput formControlName="txtDesde" autocomplete="off" />
            </mat-form-field>
            <app-control-messages
              [control]="txtDesde"
              [submitted]="submitted"
            ></app-control-messages>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <p>Mostrar iteraciones <b>hasta</b> el segundo:</p>
            <mat-form-field appearance="outline">
              <input matInput formControlName="txtHasta" autocomplete="off" />
            </mat-form-field>
            <app-control-messages
              [control]="txtHasta"
              [submitted]="submitted"
            ></app-control-messages>
          </div>
        </div>

        <div class="row d-flex mt-3">
          <div class="col-12">
            <mat-divider></mat-divider>
            <p class="mt-2"><u>Probabilidades</u></p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <p>Que tenga factura vencida:</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                formControlName="txtProbVencida"
                autocomplete="off"
              />
            </mat-form-field>
            <app-control-messages
              [control]="txtProbVencida"
              [submitted]="submitted"
            ></app-control-messages>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <p>Que sepa de actualizar factura:</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                formControlName="txtProbActualiza"
                autocomplete="off"
              />
            </mat-form-field>
            <app-control-messages
              [control]="txtProbActualiza"
              [submitted]="submitted"
            ></app-control-messages>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <p>Que pague factura:</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                formControlName="txtProbPaga"
                autocomplete="off"
              />
            </mat-form-field>
            <app-control-messages
              [control]="txtProbPaga"
              [submitted]="submitted"
            ></app-control-messages>
          </div>
        </div>

        <div class="row d-flex mt-3">
          <div class="col-12">
            <mat-divider></mat-divider>
            <p class="mt-2">
              <u>Valores para las distribuciones de probabilidad</u>
            </p>
          </div>

          <div class="col-xl-2 col-sm-12 col-md-6 col-lg-3">
            <p><b>&lambda;</b> (poisson):</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                formControlName="txtMediaPoisson"
                autocomplete="off"
              />
            </mat-form-field>
            <app-control-messages
              [control]="txtMediaPoisson"
              [submitted]="submitted"
            ></app-control-messages>
          </div>

          <div class="col-xl-2 col-sm-12 col-md-6 col-lg-3">
            <p><b>A</b> (uniforme):</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                formControlName="txtAUniforme"
                autocomplete="off"
              />
            </mat-form-field>
            <app-control-messages
              [control]="txtAUniforme"
              [submitted]="submitted"
            ></app-control-messages>
          </div>

          <div class="col-xl-2 col-sm-12 col-md-6 col-lg-3">
            <p><b>B</b> (uniforme):</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                formControlName="txtBUniforme"
                autocomplete="off"
              />
            </mat-form-field>
            <app-control-messages
              [control]="txtBUniforme"
              [submitted]="submitted"
            ></app-control-messages>
          </div>

          <div class="col-xl-2 col-sm-12 col-md-6 col-lg-3">
            <p><b>&lambda;</b> (exponencial negativa) :</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                formControlName="txtMediaExpNeg"
                autocomplete="off"
              />
            </mat-form-field>
            <app-control-messages
              [control]="txtMediaExpNeg"
              [submitted]="submitted"
            ></app-control-messages>
          </div>

          <div class="col-xl-2 col-sm-12 col-md-6 col-lg-3">
            <p><b>C</b> (constante):</p>
            <mat-form-field appearance="outline">
              <input matInput formControlName="txtCte" autocomplete="off" />
            </mat-form-field>
            <app-control-messages
              [control]="txtCte"
              [submitted]="submitted"
            ></app-control-messages>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col d-flex justify-content-between">
            <div>
              <button
                type="button"
                mat-raised-button
                color="warn"
                class="me-2"
                (click)="reset()"
              >
                Reiniciar
              </button>
            </div>
            <div>
              <button
                type="button"
                mat-raised-button
                class="me-2"
                (click)="loadDefaultValues()"
              >
                Valores por defecto
              </button>

              <button
                type="submit"
                mat-raised-button
                color="primary"
                (click)="simulate()"
              >
                Simular
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-card>

  <mat-card class="mt-5" [hidden]="loading">
    <div class="col">
      <div class="d-flex justify-content-between mb-3">
        <mat-card-title>Resultados de simulación</mat-card-title>
        <button
          mat-raised-button
          (click)="
            exporter.exportTable('xls', {
              fileName: 'Simulacion Sistema de Cobros de Impuestos',
              sheet: 'simulacion'
            })
          "
        >
          Exportar <mat-icon>get_app</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>

      <div class="my-3">
        <table class="consignas-table">
          <tr>
            <td>Tiempo promedio general de espera en cajas:</td>
            <td>
              <b>{{ consignas[0] }} s</b>
            </td>
          </tr>
          <tr>
            <td>Tiempo promedio de permanencia de las personas:</td>
            <td>
              <b>{{ consignas[1] }} s</b>
            </td>
          </tr>
          <tr>
            <td>Porcentaje de personas que no pagan:</td>
            <td>
              <b>{{ consignas[2] }} %</b>
            </td>
          </tr>
        </table>
      </div>
      <mat-divider></mat-divider>
    </div>

    <div class="col mt-3 overflow-auto mh-600">
      <table
        mat-table
        matTableExporter
        [dataSource]="dataSource"
        #exporter="matTableExporter"
      >
        <!-- Columnas encabezados de grupo -->
        <ng-container
          *ngFor="let column of headerGroupColumns"
          matColumnDef="{{ column.columnDef }}"
          [sticky]="column.columnDef === 'n-evento-reloj'"
        >
          <th
            class="all-borders"
            mat-header-cell
            *matHeaderCellDef
            [attr.colspan]="column.colspan"
            ngClass="{{
              column.columnDef === 'n-evento-reloj'
                ? 'border-right-2px'
                : column.columnDef === 'llegadaPersona'
                ? 'remove-border-left'
                : ''
            }}"
          >
            {{ column.header }}
          </th>
        </ng-container>

        <!-- Columnas encabezados + datos -->
        <ng-container
          *ngFor="let column of columns"
          matColumnDef="{{ column.columnDef }}"
          [sticky]="isSticky(column)"
        >
          <th
            style="border-bottom: 2px solid black"
            mat-header-cell
            *matHeaderCellDef
            ngClass="{{
              column.columnDef === 'reloj'
                ? 'border-right-2px'
                : needsBorder(column) && 'border-left'
            }}"
          >
            {{ column.header }}
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            ngClass="{{
              column.columnDef === 'reloj'
                ? 'border-right-2px'
                : needsBorder(column) && 'border-left'
            }}"
          >
            {{ column.cell(row, column.columnDef) }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedHeaderGroupColumns; sticky: true"
        ></tr>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onRowClicked(row)"
          [class.clicked-row]="clickedRows.has(row)"
        ></tr>
      </table>
    </div>
  </mat-card>
</div>
