th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  text-align: center;
  padding: 0 10px;
}

.mat-header-cell {
  font-weight: bold;
  border-bottom: 2px solid #000000;
}

mat-form-field {
  width: 100%;
}

.border-left {
  border-left-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
}

.border-right {
  border-right-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
}

.mat-column-evento {
  table-layout: fixed;
  width: 200px;
  white-space: nowrap;
}

.consignas-table {
  font-size: 15px;
  td {
    padding: 0.5rem 1rem;
  }
}

.mh-600 {
  max-height: 600px;
}

table {
  border-collapse: separate;
}

.clicked-row {
  background-color: orange;
  font-weight: bold;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}
